<a href="https://colab.research.google.com/github/Magaton1010/Python_Analysis/blob/main/sort_data_frames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Function to sort data frames based on common columns

In [ ]:
# Function to sort data frames based on common columns
def sort_dataframe(df):
    return df.sort_values(by=common_columns)

# Sort each data frame
sorted_dfs = [sort_dataframe(df) for df in [Event1_ll_BT,Event2_ll_BT,Event3_ll_BT,Event4_ll_BT,Event5_ll_BT,Event6_ll_BT,Event7_ll_BT,Event8_ll_BT,Event9_ll_BT]]

# Create a list of data frames where the first 4 columns are the same
common_dfs = [df[common_columns] for df in sorted_dfs]

# Concatenate the remaining columns of each data frame
remaining_dfs = [df.drop(common_columns, axis=1) for df in sorted_dfs]

# Concatenate the common columns with the remaining columns for each data frame
final_dfs = [pd.concat([common_dfs[i], remaining_dfs[i]], axis=1) for i in range(len(sorted_dfs))]